* {
  font-family: monospace, monospace;
  color: #6D8086;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

p, input.link, .label, .text {
  font-size: 25px;
}

p {
  text-align: justify;
}
