/* Global */
:root {
 --main-color : #6D8086;
 --page-background-color: #090B0D;
 --prompt-ps-color: #4D5A5E;
 --prompt-input-color: #436B24;
 --tab-label-color: #A074C4;
 --card-max-width: 640px;
 --title-base-color: #4E5B5F;
 --title-anim-delay: 3s;
 --lgbt-red: #E70000;
 --lgbt-orange: #FF8C00;
 --lgbt-yellow: #FFEF00;
 --lgbt-green: #00811F;
 --lgbt-blue: #0044FF;
 --lgbt-purple: #760089;
}

* {
  font-family: monospace, monospace;
  color: #6D8086;
}

p, input.link, .label, .text, input, textarea {
  font-size: 25px;
}

p {
  text-align: justify;
}

body {
  background-color: var(--page-background-color);
}

/* Animation */

@keyframes rainbowShift {
  from {
    fill: var(--colspec);
  } 

  to {
    fill: inherit;
  }
}

#terminal-title-container {
  height: 70px;
  background-color: #000;
}

#terminal-title, #terminal-resolution {
  color: var(--main-color)
}

.prompt-ps {
  color: var(--prompt-ps-color);
}

.prompt-input {
  color: var(--prompt-input-color);
}

#banner {
  max-width: 53vw;
}

#Scr1pti3 {
  fill: var(--title-base-color);
}

#S, #C, #R, #I1, #P, #T, #I, #E {
  --anim-duration: 2s;
  --anim-delay-per-char: calc(var(--anim-duration) / 8);
  animation: rainbowShift var(--anim-duration) ease; 
  animation-iteration-count: infinite;
  animation-direction: forward;
  animation-delay: calc(var(--order) * var(--anim-delay-per-char));
}

#S { --colspec: var(--lgbt-red); --order: 1; }
#C { --colspec: var(--lgbt-orange); --order: 2; }
#R { --colspec: var(--lgbt-yellow); --order: 3; }
#I1 { --colspec: var(--lgbt-green); --order: 4; }
#P { --colspec: var(--lgbt-green); --order: 5; }
#T { --colspec: var(--lgbt-blue); --order: 6; }
#I { --colspec: var(--lgbt-blue); --order: 7; }
#E { --colspec: var(--lgbt-purple); --order: 8; }

#main-container {
  margin: 120px 80px; 
}

#main-container > * {
  margin-top: inherit;
  margin-bottom: inherit;
}

.text-info {
  display: flex;
  flex-direction: column;
}

.tab {
  min-width: 150px;
  justify-content: space-between;
  display: flex;
  margin-right: 25px;
  margin-bottom: 40px;
}

.tab > p {
  color: var(--tab-label-color);
}

.form-container > * {
  margin-top: 120px;
}

.form-container > p {
  text-align: justify;
}

#contact-form > input[type="submit"], .input-container > * {
  padding: 12px 20px;
}

#contact-form > input[type="submit"] {
  margin: auto;
  margin-top: 60px;
}

#contact-form > input[type="submit"]:active {
  color: #CBCB41;
  border-color: #CBCB41;
}

.input-container > textarea {
  resize: none;
}

@media only screen and (max-width: 768px) {
  .input-container > * {
    width: 100%;
    margin-bottom: 30px;
  }

  .input-container > input {
    min-height: 60px;
  }

  .input-container > textarea {
    min-height: 180px;
  }
}

@media only screen and (min-width: 768px) {
  .text-info {
    flex-direction: row;
  }

  .form-container {
    min-width: 80%;
    margin: 0px 10%;
  }

  .input-container {
    display: grid;
    grid-template-areas: "name area" "email area" "subject area";
    gap: 30px;
  }

  .input-container > [name="name"]{
    grid-area: name;
  }

  .input-container > [name="email"] {
    grid-area: email;
  }

  .input-container > [name="area"] {
    grid-area: area;
  }
}
